#about-us {
	background-color: #f7f7f7;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    font-size: 40px;
    padding: 5px;
    color: rgb(59, 57, 57);
    
}
.team-members{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.team-member{
    margin: 15px;
    margin: 30px;
}
.team-member img{
    width: 300px;
    height: 280px;
}
h3{
    font-size: 25px;
    color: rgb(59, 57, 57);
    margin-top: 2%;
    
}
ul{
    margin-left: 20%;
    text-align: left;
}
span{
    font-weight: 700;
    color: rgb(59, 57, 57);
}